@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #d87d4a;
  --clr-accent: #fbaf85;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-darker-gray: #3a3a3a;
  --clr-dark-gray: #afafaf;
  --clr-light-gray: #f1f1f1;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  line-height: 25px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.625rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.375rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.0625rem;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

h6 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.over-line {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1875rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.sub-title {
  font-size: 0.8125rem;
  font-size: 700;
  line-height: 1.5625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-one {
  display: inline-block;
  width: 12.5rem;
  padding: 10px 0;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  transition: background-color 150ms;
}

.btn-one:hover {
  background-color: var(--clr-accent);
}

.btn-two {
  width: 12.5rem;
  padding: 10px 0;
  background-color: transparent;
  color: var(--clr-black);
  border: 1px solid var(--clr-black);
  transition: background-color 150ms, color 150ms;
}

.btn-two:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.btn-three {
  width: 12.5rem;
  padding: 10px 0;
  background-color: var(--clr-black);
  color: var(--clr-white);
  transition: background-color 150ms;
}

.btn-three:hover {
  background-color: var(--clr-darker-gray);
}

.btn-four {
  color: var(--clr-darker-gray);
  transition: color 150ms;
}

.btn-four:hover {
  color: var(--clr-primary);
}

@media only screen and (max-width: 780px) {
  :root {
    font-size: 13px;
  }
}